@page
@model RecruitCatKodukuje.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<p>You can reach us out by following:</p>
<ol>
    <li>Email us: kodukuje@mail.uc.edu</li>
    <li>Call us: 513123456</li>
</ol>