@page
@model RecruitCatKodukuje.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}
<h1>@ViewData["Title"]</h1>

<p>We have a vision to impart knowledge in a fun way.</p>
<p>Our Staff includes qualified professionals:</p>
<ul>
    <li>CEO</li>
    <li>Faculty</li>
    <li>Technical Team</li>
</ul>