@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:maroon"><u>MATH HACKS</u></h1>

    <marquee><h2 style="color:lightcoral">Welcome to one stop solution for learning math!!</h2></marquee>

</div>
<style>
    body {
        background-color: gainsboro;
    }
</style>
<br />
<article id="mainArticle">
    <h5 style="color:darkolivegreen"> Services Offered:</h5>
    <ol>
        <li>Summer Program - Offered from May - July </li>
        <li>Learn Vedic Maths - 4 weeks Workshop (starts May 3rd week)</li>
        <li>New! <a href="https://abacusclassesonline.com/abacus-training-classes-for-kids.php"> Abacus workshop</a> </li>
        <li> Math Games workshop</li>
    </ol>
        <h4><a class="nav-link text-dark" asp-area="" asp-page="/Industries/Index">Popular Industries</a></h4>
<img src="MathGames.png" alt="MathGames" style="width:128px;height:158px">
<br />
<br />

        <div class="text-right">
            <h6>Popular classes which are taught:</h6>
            <div><a href="https://en.wikipedia.org/wiki/Arithmetic">Arithematic Operators</a></div>
            <div><a href="https://en.wikipedia.org/wiki/Algebra">Basics of Algebra</a></div>
            <div><a href="https://en.wikipedia.org/wiki/Linear_equation">Linear Equations</a></div>
            <div><a href="https://en.wikipedia.org/wiki/Geometry">Geometry</a></div>
            <br />
            <p>Click on the above links to find more information.</p>
        </div>
</article>
<footer id="pageFooter">
    <section id="quickLinks">

        <div><a asp-area="" asp-page="/OurTeam">Our Team</a></div>
     
        <div>1245 Wall Street Rd, Mason, OH 45040</div>
</section>
</footer>
            
