@page
@model RecruitCatKodukuje.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}
<style>
    body {
        background-color: gainsboro;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>We have a vision to impart knowledge in a fun way.</p>
<p>Our Staff includes qualified professionals:</p>
<ul>
    <li>CEO</li>
    <li>Faculty</li>
    <li>Technical Team</li>
</ul>

<h4 class="text-center">About the CEO</h4>

<p class="text-center">The company was founded by Jayashree Kodukula in 2021.</p>
<p class="text-center">She wanted to implement a Website which was up and running and founded this by chance.</p>

<h4 class="text-sm-center">Faculty</h4>
<p class="text-center">There are currently 2 Faculty who take math classes for Kids</p>
    <p class="text-center", style="color:cornflowerblue">Neha Singh</p>
    <p class="text-center", style="color:cornflowerblue">Abhishek Kumar</p>
